.section_3{
    display: flex;
    flex-direction: column;
    width: 64%;
    margin: auto;
    
}

.section_3-name{
    display: flex;  
    font-family: 'lora';
    margin-top: 20px;
}

.section_3-img{
    width: 35%;
    height: 35%;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin-top: 20px;
    margin-right: 10px;
}
.section_3-img:hover{
    width: 40%;
}

.p1{
    font-size: 26px;
}
.p2{
    font-size: 16px;
}

.section_3-social{
    display: flex;
    gap: 1rem;
    margin-top: 10%;
    margin-left: 30%;
}

.section_3-hp{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1rem;
    text-align: center;
    font-family: 'ous';
    margin-top: 30px;
    margin-bottom: 5%;
}

.h2{
    font-size: 32px;
}
.p3{
    font-size: 16px;
}

.circle_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    font-family: 'pop';
    margin-bottom: 5%;
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2 {
    color: #777;
    font-size: 32px;
    transition: 0.5s;
    text-align: center;
}

.percent .number span{
    color: #777;
    font-size: 24px;
}
svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #777;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.circle:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*75)/ 100);
    stroke: mediumslateblue;
}
.circle:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*70)/ 100);
    stroke: mediumslateblue;
}
.circle:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*60)/ 100);
    stroke: mediumslateblue;
}
.circle:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*70)/ 100);
    stroke: mediumslateblue;
}


